*{
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    
}

#hw{
    height: 2.Srem;
    width: 400px;
    border: 1px solid #000;
    text-wrap-mode: nowrap;
    overflow: hidden;
    transition: 2s;
    background-color: rgb(109, 255, 199);
    background-color: 2s 3ms;
    
}

#hw:hover{
    width: 700px;
    background-color: rgb(9, 210, 3);
    transition: 2s;
    background-color: 2s 3ms;
}
#welcome{
    color: orange;
}
#welcome::after{
    content: "👑";
}